04. Tipos de dados no Python

04.02. Tipos comuns

Inteiro/Integer

In [3]:
#inteiro
idade = 25
temperatura_negativa = -4
numero_grande = 123456789

Float/Decimal

In [ ]:
#decimal
peso = 91.2
temperatura_negativa = -4.5

String/Texto

In [5]:
#texto
nome = "Lauan"
numero_a = 1
numero_b = "1"

numero_a == numero_b

False

Booleano

True or False

In [10]:
# Exemplo de uma variavel booleana
linguagem_1 = "Python"
linguagem_2 = "Java"

linguagem_1 == linguagem_1

verdadeiro = True
verdadeiro

falso = False
falso

False

Verificando tipo de dados com Python

In [17]:
#Exemplo de variaveis de diferentes tipos
print(type(linguagem_2))
print(type(falso))
print(type(numero_a))

#Exemplo de variaveis de diferentes tipos
inteiro = 42
flutuante = 3.14
texto = "Ola, mundo!"
lista = [1, 2, 3]
tupla = (1, 3)
dicionario = {"a": 1, "b": 2 } 
booleano = True

#verificando os tipos
print(type(inteiro)) #<class 'int'>
print(type(flutuante)) #<class 'float'>
print(type(texto)) #<class 'str'>
print(type(lista)) #<class 'list'>
print(type(tupla)) #<class 'tuple'>
print(type(dicionario)) #<class 'dict'>
print(type(booleano)) #<class 'bool'>

<class 'str'>
<class 'bool'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'bool'>

04.05. Formatando Strings

Formatando Strings utilizando %

In [31]:
marca = "Iphone 15 Pro Max"
lancamento = 2023
valor = 1299
taxa_dolar = 4.955555

# "O " + marca + "foi lancado em " + str(lancamento)

'O %s foi lancado em %d e custa $ %d. Mas a taxa de conversao real para dolar e %.2f reais para 1 dolar'%(marca, lancamento, valor, taxa_dolar)

'O Iphone 15 Pro Max foi lancado em 2023 e custa $ 1299. Mas a taxa de conversao real para dolar e 4.96 reais para 1 dolar'

Formatando Strings utilizando o format()

In [35]:
marca = "Iphone 15 Pro Max"
lancamento = 2023
valor = 1299
taxa_dolar = 4.955555

'O {0} foi lancado em {1} e custa ${2}. Mas a taxa de conversao real para dolar e R${3:.2f} para $1'.format(marca, lancamento, valor, taxa_dolar)

'O Iphone 15 Pro Max foi lancado em 2023 e custa $1299. Mas a taxa de conversao real para dolar e R$4.96 para $1'

In [39]:
f'O {marca} foi lancado em {lancamento} e custa ${valor}. Mas a taxa de conversao real para dolar e R${taxa_dolar: .2f} para $1'

'O Iphone 15 Pro Max foi lancado em 2023 e custa $1299. Mas a taxa de conversao real para dolar e R$ 4.96 para $1'

04.06. Convertendo tipo de dados

In [10]:
numero = int('2')
numero = str(numero)
1+ int('1')
str(1)+'1'
float(10)

10.0

In [8]:
from datetime import datetime
import pytz

unix_time = 1704569241

# Converter para data e hora normal em São Paulo
fuso_horario_sao_paulo = pytz.timezone('America/Sao_Paulo')

data_hora_sao_paulo = datetime.fromtimestamp(unix_time, fuso_horario_sao_paulo)
print("Data e hora em São Paulo:", data_hora_sao_paulo)

Data e hora em São Paulo: 2024-01-06 16:27:21-03:00

04.07. Listas

In [12]:
# declarando uma lista

minhaLista = []
minhaLista 

nomeUsuario = ["Huguinho", "Zezinho", "Luizinho"]
idadeUsuario = [18, 19, 20]
nomeUsuario, idadeUsuario

(['Huguinho', 'Zezinho', 'Luizinho'], [18, 19, 20])

In [27]:
# adicionando itens na lista

nomeUsuario.append("Tio Patinhas")
idadeUsuario.append(60)

idadeUsuario
nomeUsuario, idadeUsuario

(['Huguinho', 'Zezinho', 'Luizinho', 'Tio Patinhas', 'Tio Patinhas'],
 [18, 19, 20, 60, 60])

In [28]:
# removendo da lista

nomeUsuario.remove("Tio Patinhas")
idadeUsuario.remove(60)

idadeUsuario, nomeUsuario

([18, 19, 20, 60], ['Huguinho', 'Zezinho', 'Luizinho', 'Tio Patinhas'])

In [30]:
# encontra um valor por indice

idadeAlunos = [49, 50, 41, 39, 22, 30, 43, 45, 27, 18, 32, 24, 21, 48, 31]

idadeAlunos[0]

49

In [46]:
idadeAlunos = [49, 50, 41, 39, 22, 30, 43, 45, 27, 18, 32, 24, 21, 48, 31]

# da esquerda (valor positivo)

idadeAlunos[10]

# da direita (valor negativo)

idadeAlunos[-3:3]

[]

In [50]:
idadeAlunos = [49, 50, 41, 39, 22, 30, 43, 45, 27, 18, 32, 24, 21, 48, 31]

# da esquerda (valor positivo)

idadeAlunos[:5]

# da direita (valor negativo)

idadeAlunos [-3]

21

In [40]:
idadeAlunos = [49, 50, 41, 39, 22, 30, 43, 45, 27, 18, 32, 24, 21, 48, 31]

#buscando um intervalo de itens
#idadeAlunos[2:5] 2 ao 5-1

idadeAlunos[4:10]

[22, 30, 43, 45, 27, 18]

In [43]:
# acessando intervalos

idadeAlunos = [49, 50, 41, 39, 22, 30, 43, 45, 27, 18, 32, 24, 21, 48, 31]

idadeAlunos[0:10:3]

[49, 39, 43, 18]

In [42]:
idadeAlunos[0:10]

[49, 50, 41, 39, 22, 30, 43, 45, 27, 18]

In [45]:
# alterando valores

idadeAlunos = [49, 50, 41, 39, 22, 30, 43, 45, 27, 18, 32, 24, 21, 48, 31]

idadeAlunos[0] = 63
idadeAlunos

[63, 50, 41, 39, 22, 30, 43, 45, 27, 18, 32, 24, 21, 48, 31]

04.08. Tuplas

In [51]:
mesesDoAno = ("Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dec")

In [54]:
# acessando valores

mesesDoAno[11]

mesesDoAno [3:6]

('Apr', 'May', 'Jun')

04.09. Dicionarios

In [57]:
meuDicionario = {}
type(meuDicionario)

dict

In [59]:
# criando um dicionario com nome e idade de usuarios

usuario = {

    "Huguinho":18,
    "Zezinho": 19,
    "Luizinho": 20
}
usuario

{'Huguinho': 18, 'Zezinho': 19, 'Luizinho': 20}

In [60]:
# imprimindo um item

usuario["Zezinho"]

19

In [62]:
# imprimindo um item

usuario["Luizinho"] = 21
usuario

{'Huguinho': 18, 'Zezinho': 19, 'Luizinho': 21}

Criando uma lista de dicionarios

In [66]:
listaUsuarios = [
    {"nome": "Huguinho", "idade": 18 },
    {"nome": "Zezinho", "idade": 19 },
    {"nome": "Luizinho", "idade": 21 },
    {"nome": "Tio Patinhas", "idade": 30 },
]
listaUsuarios

[{'nome': 'Huguinho', 'idade': 18},
 {'nome': 'Zezinho', 'idade': 19},
 {'nome': 'Luizinho', 'idade': 21},
 {'nome': 'Tio Patinhas', 'idade': 30}]

In [68]:
import pandas as pd

In [69]:
df = pd.DataFrame(listaUsuarios)
df

           nome  idade
0      Huguinho     18
1       Zezinho     19
2      Luizinho     21
3  Tio Patinhas     30

In [71]:
df.head(3)

       nome  idade
0  Huguinho     18
1   Zezinho     19
2  Luizinho     21